
body {
    background-color: #0c5297; 
    color: black; 
    font-family: Arial, sans-serif; 
}

/* Header styling */
header {
    color: white; 
    padding: 1rem; 
}

header h1 {
    margin: 0; 
}

/* Search and History Section card styling*/
.card {
    border-radius: 0.5rem; 
}

.card-header {
    background-color: #007bff; 
    color: white; 
}

.card-body {
    background-color: white; 
    border: 1px solid #007bff; 
    color: black;
}

/* Button styling*/
.btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #004085; 
}

/* Main Weather Display */
.card.border-primary {
    border-color: #007bff; 
}
